.row{
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container{
    width: 900px;
    margin: auto;
}

nav a{
    padding-left: 25px;
    font-size: 30px;
    text-decoration: none;
    color: rgb(6, 6, 10);
}

img{
    width: 40px;
}

.logo{
    width: 130px;
}

button{
    background: rgba(0, 0, 0, 0);
    border: 0 solid ;
    cursor: pointer;
}

.burger_closed{
    opacity: 1;
    visibility: visible;
    position: fixed;
}

.burger_closed.disapper{
    opacity: 0;
    visibility: hidden;
}

.burger_open{
    opacity: 0;
    visibility: hidden;
}

.burger_open.found{
    opacity: 1;
    visibility: visible;
}

.right_part{
    display: flex;
    flex-direction: row;
}

.find{
    background: rgb(255, 255, 255);
    color: rgba(0, 0, 255, 0.364);
    font-size: 20px;
}

.burger_nav{
    opacity: 0;
    visibility: hidden;
    left: 50px;
    top: 100px;
    position: fixed;
    border: 1px solid black;
    width: 350px;
    height: 200px;
    background-color: rgba(0, 0, 255, 0.364);
}

.burger_nav.visible{
    opacity: 1;
    visibility: visible;
}

.find.blackbg{
    background-color: rgb(148, 148, 148);
}

.search{
    width: 90%;
    height: 40px;
    border: 0px solid;
}

.search.blackbg{
    background-color: rgb(148, 148, 148);
}

.link{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 15px;
    padding-top: 20px;
    height: 150px;
}

.link a{
    color: white;
    padding-bottom: 8px;
    font-size: 20px;
    text-decoration: none;
}

.link a:hover{
    color: rgb(148, 148, 148);
}