.burger{
    background: #000;
    display: inline-block;
    padding: 20px 15px 20px 15px;
    line-height: 0;
    color: aliceblue;
    font-size: 50px;
}

.column{
    display: flex;
    flex-direction: column;
    padding: 50px 20px 300px 20px;
}

.column a{
    color: aliceblue;
    padding-bottom: 10px;
    text-decoration: none;
}

.leftSlider{
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    height: 500px ;
    background: #000;
    opacity: 0; 
    visibility: hidden;
    transition: 0.5s; 
}

.leftSlider.leftSliderVisible{
    opacity: 1;
    width: 250px;
    visibility: visible;

}

.closed{
    position: absolute;
    top: 20px;
    right: 20px;
}

.rightPart{
    padding-left: 0px;
    transition: 0.5s;
}

.rightPart.rightPartPadding{
    padding-left: 30%;
    transition: 0.5s;
}

