.people{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.food{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.travel{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}