li.through{
    text-decoration: line-through;  
   
}

.hidden{
    opacity: 0;
    visibility: hidden;
    position: fixed;
}

body{
    background: rgb(117, 122, 103);
}

form{
    text-align: center;
}

form input{
    width: 300px;
    height: 28px;
    border: 1px solid rgb(128, 128, 128);
}

form button{
    width: 150px;
    height: 32px;
    border: 1px solid rgb(128, 128, 128);
}

ul{
    padding-top: 15px;
    width: 500px;
    margin: auto;
}

li{
    color: lavenderblush;
    display: flex;
    align-items: center;
    justify-content: left;
}

li input{
    width: 20px;
    height: 20px;
}

li button{
    margin-right: 20px;
    width: 25px;
    height: 20px;
}